.new-post {
    background-color: rgba(43, 128, 253, 0.3);
    border-radius: 8px;
}


.profil-picture {
    width: 40px; 
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px #343A40 solid;
    z-index: 2;
}

.block-user-post {
    display: inline-flex;
    align-items: center;
}

.button-add {
    position: absolute;
    right: 0px;
    color: rgba(27, 80, 158);
    cursor: pointer;
    &:hover {
        color: rgba(43, 128, 253);
    }
}

.button-cancel {
    position: absolute;
    right: 0px;
    color: rgba(159, 24, 24);
    cursor: pointer;
    &:hover {
        color: rgba(223, 33, 33);
    }
}