.bg-blue1 {
    background-color: #2B80FD;
}

.bg-dark1 {
    background-color: #343A40;
}

.color-orange1 {
    color: #FDA82B;
}

a {
    color: #2B80FD;
    text-decoration: unset;
    font-weight: bold;
}