<form [formGroup]="newPostForm" class="text-center" (ngSubmit)="onAddPost()">
    <input type="url" placeholder="Lien du titre (Spotify, Soundcould ou Youtube) ..." class="form-control title-post mb-1 mt-2" formControlName="link">
    <textarea placeholder="Message ..." name="" id="" cols="20" rows="5" class="form-control mb-1" style="resize: none;" formControlName="message"></textarea>
    <button class="button-post" type="submit" [disabled]="newPostForm.invalid">Poster !</button>
</form>
