.profil-picture {
    width: 90px; 
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px #2B80FD solid;
    &:hover {
        border-color: #FDA82B;
    }
}

.picture-upload>input {
    display: none;
}

.upload-picture {
    cursor: pointer;
}
