<div class="background">
    <div class="container">
        <div class="row justify-content-center pt-5">
            <div class="col-sm-4 sign p-5">
                <app-signin *ngIf="isSignIn"></app-signin>
                <app-signup *ngIf="!isSignIn"></app-signup>
                <div class="col text-center">
                    <p class="text-center">{{ messageSign }}</p>
                    <a routerLink="auth/signup" (click)="switchSign()">{{ signInOrUp }}</a>
                </div>
            </div>
        </div>
    </div>
</div>